<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Title to <%= title %></p>
    <p>Header to <%= header %></p>
     <a href="/index"> go home</a>
  </body>
</html>